.randomizers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.random {
  flex-grow: 1;
  background: #181c24aa;
  margin: 2%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.random * {
  flex-grow: 1;
}

.randomizer h3 {
  margin: 5% 0;
}

.not-randomized {
  color: '#555';
}

.randomized {
  margin: 3%;
}
