.session {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.session div {
  margin: auto;
}

.submission-button {
  margin: auto;
}

.submission-audio {
  display: block;
  margin: 2vmin auto;
}

.session-timer {
  font-size: 24pt;
  color: white;
}

.red {
  color: red;
  animation: flashing 250ms infinite alternate;
}

@keyframes flashing {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}
