.hot-things {
  color: #eee;
}

.hot-things label {
  display: block;
  margin: 2vmin auto;
}

.hot-things input {
  margin-left: 2%;
}

.hot-things textarea {
  display: block;
  margin: auto;
  width: 50%;
  height: 10vh;
}
