.app {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  border: 0;
  border-radius: 1vmin;
  margin: 2vmin;
  padding: 0.6vmin 1.5vmin;
  background: linear-gradient(to bottom, var(--e1), var(--b2));
  color: var(--f1);
  /* width: 15vmin; */
}

button:hover {
  background: var(--b2);
  color: var(--bg);
}

.add-button {
  background-color: #ffffff44;
  padding: 1% 0;
  margin: 5% 0 0 0;
}

a {
  color: var(--fg);
}

a:hover {
  color: var(--c1);
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 2vmin;
  background: var(--f1);
}

main {
  display: flex;
  height: 90vh;
}

.sidebar {
  background: var(--f1);
  flex: 1;
}

section {
  flex: 3;
}

footer {
  background: var(--f1);
  color: var(--e1);
}

select option {
  background: var(--e1);
}

select:after {
  content: '<>';
  position: absolute;
}

input,
textarea {
  background: linear-gradient(to bottom, var(--a1), var(--a2));
  color: var(--f1);
  padding: 0.5ch 1ch;
  border: 2px solid var(--f1);
  letter-spacing: 0.1em;
  border-radius: 1ch;
}
