:root {
  --bg: #130622;
  --fg: #fadcef;
  --a1: #f3fa50;
  --a2: #fe947c;
  --b1: #ffc4e8;
  --b2: #ff78b2;
  --c1: #fd1d53;
  --d1: #50fb7b;
  --e1: #bd93f9;
  --f1: #1b0e2a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--fg);
  text-align: center;
}
#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
